* {
    box-sizing: border-box;
    scroll-behavior: smooth;
  }
  
  body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    background-color: rgb(37, 25, 6);
  }
  
  .header {
    text-align: center;
    height: fit-content;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

  }
  
  .row {
    display: -ms-flexbox; /* IE 10 */
    display: flex;
    -ms-flex-wrap: wrap; /* IE 10 */
    flex-wrap: wrap;
    padding: 0 4px;
  }
  
  /* Create two equal columns that sits next to each other */
  .column {
    -ms-flex: 50%; /* IE 10 */
    flex: 50%;
    padding: 0 4px;
  }
  
  .column img {
    margin-top: 8px;
    vertical-align: middle;
  }
  .column video {
    margin-top: 8px;
    vertical-align: middle;
  }
  
  /* Style the buttons */
  .btn {
    color: rgb(94, 94, 0);
    border: none;
    outline: none;
    padding: 10px 16px;
    background-color: rgb(78, 54, 14);
    cursor: pointer;
    font-size: 18px;
  }
  
  .btn:hover {
    background-color: rgb(56, 39, 10);
  }
  
  .btn.active {
    background-color: rgb(78, 54, 14);
    color: rgb(155, 155, 0);
  }

  #to-top{
    background-color: rgba(231, 194, 146, 0.6);
    color: rgba(0, 0, 0, 0.6);
    position: sticky;
    top: 95%;
    left: 50%;
    width: fit-content;
    height:fit-content;
    padding: 5px;
    border-radius: 20px;
    z-index: 1;
  }

  #to-top:hover{
  background-color: rgb(250, 226, 194);
  color: rgb(0, 0, 0);
  } 

  a{
    text-decoration: none;
    color: black;
  }

  a:active{
    color: black;
  }

  a:visited{
    color: black;
  }
